* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background-color: #F0E8D9;
}

.login-form {
  width: 300px;
  background-color: #EEEFF1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px;
}

.text-field {
  font-size: 14px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-btn {
  font-size: 14px;
  background-color: #F0E8D9;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.links {
  margin-top: 30px;
  text-align: center;
}

.links a {
  font-size: 12px;
  color: #9B9B9B;
}